.app {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   padding: 3rem 2rem;
   border-radius: 10px;
   box-shadow: 3px 3px 5px grey;
   justify-content: center;
   margin: 6rem 0rem;
   width: 30rem;
}

.balance h2 {
   border-bottom: 1px solid silver;
   margin-bottom: 1.5rem;
}

.balanceDetails {
   display: flex;
   justify-content: space-around;
   padding-bottom: 1rem;
}

.balanceDetails div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.history {
   padding-bottom: 1rem;
}

.history h2 {
   border-bottom: 1px solid silver;
   margin-bottom: 1.5rem;
}

.historyItem {
   display: flex;
   justify-content: space-between;
   margin-top: 4px;
   border-bottom: 1px dashed rgb(224, 224, 224);
   padding-bottom: 4px;
}

.historyItem>span {
   display: flex;
   flex-direction: row;
}

.removeBtn {
   width: 1rem;
   background-color: rgb(255, 38, 38);
   margin-left: 7px;
   display: flex;
   justify-content: center;
   cursor: pointer;
   border-radius: 5px;
   align-items: center;
}

.addSection label {
   font-weight: bold;
}

form div {
   margin-bottom: 0.5rem;
}

input {
   width: 100%;
   height: 1.6rem;
   border-radius: 5px;
   border: 1px solid silver;
   margin-top: 3px;
   padding-left: 5px;
}

input:focus {
   outline: none;
}

.button {
   margin-top: 0.5rem;
   height: 2rem;
   background-color: rgb(65, 65, 255);
   color: #fff;
   font-size: 1em;
}

.addSection h2 {
   border-bottom: 1px solid silver;
   margin-bottom: 1.5rem;
}